<div id="container">
    <table>
        <tr>
            <td id="col1">
                <p id="nomJoueur">{{ _nomJoueur }}</p>
                <img src="../../assets/crosswords/profilPicture/defaultProfilPicture.jpg" id="profilPicture" alt="Profil Picture">
            </td>
            <td id="col2">
                <p id="pointageTitre">Progression</p>
                <div id="progress">
                    <div id="progress-bar">
                        <p id="point-progress-bar">{{ pourcentagePoint }}%</p>
                    </div>
                </div>
            </td>
            <td id="col3">
                <div>
                    <span id="nbMotsDecouvertsTitre">Nombre mots trouvés : </span><span id="nbMotsDecouverts">{{ _nbMotsDecouverts }}</span>
                </div>
                <div>
                    <span id="timerTitre">Temps écoulé : </span><span id="timer">{{ _formatedTimer }}</span>
                </div>
                <div>
                    <span id="difficulteTitre"> Difficulté : </span><span id="difficulte">{{_difficulte}}</span>
                </div>
            </td>
        </tr>
    </table>
</div>