.wrapper {
    height:100%;
    width:100%;
    margin:0;
    display:grid;
    grid-template-columns: [C1] 20% [C2] 20% [C3] 60% [C4];
    grid-template-rows: [R1] 20% [R2] 80% [R3];
}

#bgImage {
    position: fixed;
    top: 5%;
    height: calc(95% - 4px);
    min-height: 700px;
    width: calc(100% - 4px);
    z-index: -1;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.747);
}

.body {
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.747);
}

.indiceVertical {
    grid-column-start: C1;
    /* autoprefixer: off */
    grid-column-end: C2;
    grid-row-start: R1;
    grid-row-end: R3;
}

.indiceHorizontal {
    grid-column-start: C2;
    /* autoprefixer: off */
    grid-column-end: C3;
    grid-row-start: R1;
    grid-row-end: R3;
}

.Grille {
    grid-column-start: C3;
    /* autoprefixer: off */
    grid-column-end: C4;
    grid-row-start: R2;
    grid-row-end: R3;
}

.PlayerInfo {
    grid-column-start: C3;
    /* autoprefixer: off */
    grid-column-end: C4;
    grid-row-start: R1;
    grid-row-end: R2;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 99999;
    width: 100vw;
    height: 95vh;
    border-radius: 10px;
    background-color: rgba(156, 156, 156, 0.589);
    text-align: center;
}

.lds-ring {
    /* position: relative; */
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }