#titre-page {
    font-family: 'Press Start 2P', cursive;
    margin-left: 20px;
}

mat-expansion-panel-header {
    font-family: 'Press Start 2P', cursive;
}

.unePartie {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.404);
    width: 95%;
    left: 0px;
    margin-bottom: 5px;
}

#suppToutesParties:hover {
    color: white !important;
    background-color: blue !important;
}

#suppToutesParties {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: purple;
    padding: 6px;
    cursor:pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(0,0,0, 0.747);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    background-color: rgba(156, 156, 156, 0.589);
    text-align: center;
}

.closed {
    display: none;
}

.opened {
    display: block;
}