<h1 id="titre-page">Page Admin</h1>

<mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let partie of listeParties" class="unePartie">
        <mat-expansion-panel-header>{{ partie.nomPartie | uppercase }}</mat-expansion-panel-header>
        <div id="informations">
            <span>HELLO WORLD</span>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<div id="overlay" class="closed">

</div>

<button id="suppToutesParties" title="suppToutesParties" (click)="supprimerToutesLesParties()">Supprimer toutes les parties</button>
<button id="ajouterUnePartie" title="ajouterUnePartie" (click)="ajouterUnePartie()">Ajouter une partie</button>
<particles [params]="myParams" [style]="myStyle" id="particlesjsbg"></particles>